html{background-image: url("images/1-big-viburnum.jpg"); background-attachment: fixed; background-size: cover; background-repeat: no-repeat; background-position: center center;}
.header{background-color: rgba(255, 244, 230, 0.815); padding: 5px  5px 5px 15px; margin: auto; 
border-left-color:green; border-left-width: 5px; border-left-style:solid; border-right-color: green; border-right-width:5px; border-right-style:solid;}
